In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1041,tt1142977,39000000,81491068,Frankenweenie,Charlie Tahan|Winona Ryder|Catherine O'Hara|Ma...,Tim Burton,The electrifying dog is back from beyond the g...,Young Victor conducts a science experiment to ...,87,Animation|Comedy|Family,Walt Disney Pictures|Tim Burton Animation Comp...,10/4/2012,6.5,2012
245,tt0438488,200000000,371353001,Terminator Salvation,Christian Bale|Sam Worthington|Anton Yelchin|M...,McG,The End Begins.,"All grown up in post-apocalyptic 2018, John Co...",115,Drama|Action|Thriller|Science Fiction,Columbia Pictures|The Halcyon Company|Wonderla...,5/20/2009,5.8,2009
1433,tt0401855,50000000,111340801,Underworld: Evolution,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,Len Wiseman,"My God. Brother, what have you done?",As the war between the vampires and the Lycans...,106,Fantasy|Action|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems,1/12/2006,6.3,2006
1692,tt0829482,20000000,169860655,Superbad,Jonah Hill|Michael Cera|Christopher Mintz-Plas...,Greg Mottola,Come and Get Some!,High school best buddies are facing separation...,113,Comedy,Columbia Pictures|Apatow Productions,8/17/2007,7.0,2007
1846,tt0204946,28000000,90449929,Bring It On,Kirsten Dunst|Jesse Bradford|Huntley Ritter|El...,Peyton Reed,May the best moves win.,The Toro cheerleading squad from Rancho Carne ...,98,Comedy,Beacon Communications,8/25/2000,5.7,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
# Создаем словарь ответов
answers = {}

# Функционая на вход получает колонку, в ячейках которой находятся
# произвольные категории, разделенные символом "|".
# На выход выдает список иникальных значений категорий.
def split_items(column_to_dedublicated_list):
    # Получаем список всех жанров из имеющейся таблицы
    duplicated_list = '|'.join(list(column_to_dedublicated_list.unique())).split('|')

    # Удаляем дубликаты
    deduplicated_list = []
    for item in duplicated_list:
        if not item in deduplicated_list:
            deduplicated_list.append(item)
    return deduplicated_list


# Создаем функцию, которая по дате определяем время года
def season(date):
    if date.month in [12,1,2]:
        return 'winter'
    if 2 < date.month < 6:
        return 'spring'
    if 5 < date.month < 9:
        return 'summer'
    return 'autumn'


# Создаем колонку "profit"
data['profit'] = data['revenue'] - data['budget']
# Меняем формат столцба "release_date" на дату
data['release_date'] = pd.to_datetime(data['release_date'])
# Создаем столбец "release_month"
data['release_month'] = data['release_date'].apply(lambda x: x.month)
# Создаем столбец "release_season"
data['release_season'] = data['release_date'].apply(season)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget']==data['budget'].max()][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [7]:
data.sort_values(['budget'], ascending=False)[['imdb_id','original_title']].iloc[0]

imdb_id                                             tt1298650
original_title    Pirates of the Caribbean: On Stranger Tides
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data.loc[data['runtime']==data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data.loc[data['runtime']==data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [12]:
data['runtime'].mean()

109.6585494970884

In [13]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data['runtime'].median()

107.0

In [15]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
data.loc[data['profit']==data['profit'].max()][['imdb_id','original_title']]

       imdb_id original_title
239  tt0499549         Avatar

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
data.loc[data['profit']==data['profit'].min()][['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
len(data[data['profit']>0])

1478

In [21]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data.loc[(data['revenue']==data[data['release_year']==2008]['revenue'].max()) & (data['release_year']==2008)][['imdb_id','original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data.loc[(data['profit']==data[(data['release_year']>=2012) & (data['release_year']<=2014)]['profit'].min())
         & (data['release_year']>=2012) & (data['release_year']<=2014)][['imdb_id','original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Создает список уникальных значений жанров
genres_list = split_items(data['genres'])
# Создаем словарь: ключи - жанры, значения - список всего фильмов, прибыльных фильмов
genres_analitycs_dict = {}
for genre in genres_list:
    genre_count = data['genres'].str.contains(genre).sum()
    genre_count_proft = data[data['profit']>0]['genres'].str.contains(genre).sum()
    genres_analitycs_dict[genre] = [genre_count,genre_count_proft]
    
# Преобразуем список в DataFrame   
genres_analitycs_df = pd.DataFrame.from_dict(genres_analitycs_dict, columns=['count','count_prof'], orient='index')

In [27]:
genres_analitycs_df[genres_analitycs_df['count']==genres_analitycs_df['count'].max()]['count']

Drama    782
Name: count, dtype: int64

In [28]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

In [29]:
ganre_count = Counter()
# Объединяем все перечисления жарнов в стобце в один список
all_genres = '|'.join(list(data['genres'])).split('|')

# Создаем словарь количества повторений каждого жанра
for item in all_genres:
    ganre_count[item] += 1
    
# Преобразуем список в DataFrame   
genres_analitycs_df_another = pd.DataFrame.from_dict(ganre_count, columns=['count'], orient='index')
# Ищем наболее часто втречающийся жанр
genres_analitycs_df_another[genres_analitycs_df_another['count']==genres_analitycs_df_another['count'].max()]['count']

Drama    782
Name: count, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
genres_analitycs_df[genres_analitycs_df['count_prof']==genres_analitycs_df['count_prof'].max()]['count_prof']

Drama    560
Name: count_prof, dtype: int64

In [31]:
answers['12'] = '3. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [32]:
# Создаем список режисеров
directors_list = split_items(data['director'])

# Создаем словарь: ключи - режиссер, значения - сборы его фильмов
directors_revenue = {}
for director in directors_list:
    directors_revenue[director] = data[data['director'].str.contains(director)]['revenue'].sum()
    
# Преобразуем список в DataFrame   
directors_revenue_df = pd.DataFrame.from_dict(directors_revenue, columns=['revenue'], orient='index')

In [33]:
directors_revenue_df[directors_revenue_df['revenue']==directors_revenue_df['revenue'].max()]

                  revenue
Peter Jackson  6490593685

In [34]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
# Создаем список режисеров
directors_list = split_items(data['director'])

# Создаем словарь: ключи - режиссер, значения - кол-во фильмов в стиле Action
directors_actions_count = {}
for director in directors_list:
    directors_actions_count[director] = data[(data['director'].str.contains(director)) 
                                       & (data['genres'].str.contains('Action'))]['director'].count()
    
# Преобразуем список в DataFrame   
directors_actions_count_df = pd.DataFrame.from_dict(directors_actions_count, columns=['Actions_count'], orient='index')

In [36]:
directors_actions_count_df[directors_actions_count_df['Actions_count']==directors_actions_count_df['Actions_count'].max()]

                  Actions_count
Robert Rodriguez              9

In [37]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
# Создаем список актеров
actors_list = split_items(data['cast'])

# Создаем словарь: ключи - актер, значения - сборы его фильмов
actors_revenue = {}
for actor in actors_list:
    actors_revenue[actor] = data[(data['cast'].str.contains(actor)) & (data['release_year']==2012)]['revenue'].sum()
    
# Преобразуем список в DataFrame   
actors_revenue_df = pd.DataFrame.from_dict(actors_revenue, columns=['revenue'], orient='index')

In [39]:
actors_revenue_df[actors_revenue_df['revenue']==actors_revenue_df['revenue'].max()]

                    revenue
Chris Hemsworth  2027450773

In [40]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
# Создаем список актеров
actors_list = split_items(data['cast'])

# Определяем нижнюю границу высокобюджетного фильма
budget_limit = data['budget'].mean()

# Создаем словарь: ключи - актер, значения - количество фильмов
actors_participation = {}
for actor in actors_list:
    actors_participation[actor] = data[(data['cast'].str.contains(actor)) 
                                       & (data['budget']>budget_limit)]['cast'].count()
    
# Преобразуем список в DataFrame   
actors_participation_df = pd.DataFrame.from_dict(actors_participation, columns=['participation'], orient='index')

In [42]:
actors_participation_df[actors_participation_df['participation']==actors_participation_df['participation'].max()]

            participation
Matt Damon             18

In [43]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
# Создаем список жанров
genres_list = split_items(data[data['cast'].str.contains('Nicolas Cage')]['genres'])
# Создаем словарь: ключи - жанры, значения - количество фильмов
genres_analitycs_dict = {}
for genre in genres_list:
    genres_analitycs_dict[genre] = data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.contains(genre).sum()
    
# Преобразуем список в DataFrame   
genres_analitycs_df = pd.DataFrame.from_dict(genres_analitycs_dict, columns=['count'], orient='index')

In [45]:
genres_analitycs_df[genres_analitycs_df['count']==genres_analitycs_df['count'].max()]['count']

Action    17
Name: count, dtype: int64

In [46]:
answers['17'] = '3. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
data[(data['production_companies'].str.contains('Paramount Pictures')) 
     & (data['profit']==data[data['production_companies'].str.contains('Paramount Pictures')]['profit'].min())][['imdb_id','original_title']]

       imdb_id        original_title
925  tt0267626  K-19: The Widowmaker

In [48]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [50]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [52]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [54]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
data.groupby(['release_season'])['imdb_id'].count()['summer']

450

In [56]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
# Создаем список режисеров
directors_list = split_items(data['director'])

seasons = ['winter','spring','summer','automn']

# Создаем словарь: ключи - режиссер, значение - список кол-во фильмов по сезонам
films_by_seasons = {}
for director in directors_list:
    temp = []
    for season in seasons:
        temp.append(data[(data['director'].str.contains(director)) & (data['release_season']==season)]['imdb_id'].count())
    films_by_seasons[director] = temp
    
# Преобразуем список в DataFrame   
films_by_seasons_df = pd.DataFrame.from_dict(films_by_seasons, columns=seasons, orient='index')

In [58]:
films_by_seasons_df[films_by_seasons_df['winter']==films_by_seasons_df['winter'].max()]

               winter  spring  summer  automn
Peter Jackson       7       0       0       0

In [59]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [60]:
# Создаем список студий
studios_list = split_items(data['production_companies'])

# Создаем словарь: ключи - жанры, значения - среднее числов символов в названии фильмов
studios_analitycs_dict = {}
for studio in studios_list:
    # Список всех названий фильмов студии
    film_list = list(data[data['production_companies'].str.contains(studio, regex=False)]['original_title'])
    
    studios_analitycs_dict[studio] = len(''.join(film_list)) / len(film_list)
    
# Преобразуем список в DataFrame   
studios_analitycs_df = pd.DataFrame.from_dict(studios_analitycs_dict, columns=['letters per title'], orient='index')

In [61]:
studios_analitycs_df[studios_analitycs_df['letters per title']==studios_analitycs_df['letters per title'].max()]

                         letters per title
Four By Two Productions               83.0

In [62]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
# Создаем список студий
studios_list = split_items(data['production_companies'])

# Создаем словарь: ключи - жанры, значения - среднее числов слов в описании фильмов
studios_analitycs_dict = {}
for studio in studios_list:
    # Список всех описаний фильмов студии
    film_list = list(data[data['production_companies'].str.contains(studio, regex=False)]['overview'])
    
    studios_analitycs_dict[studio] = len(' '.join(film_list).split(' ')) / len(film_list)
    
# Преобразуем список в DataFrame   
studios_analitycs_df = pd.DataFrame.from_dict(studios_analitycs_dict, columns=['words per title'], orient='index')

In [64]:
studios_analitycs_df[studios_analitycs_df['words per title']==studios_analitycs_df['words per title'].max()]

                       words per title
Midnight Picture Show            175.0

In [65]:
answers['24'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [66]:
data[['imdb_id','original_title','vote_average']].sort_values(['vote_average'],ascending=False).head(int(len(data)/100))

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight           8.1
118   tt0816692                                   Interstellar           8.0
125   tt2084970                             The Imitation Game           8.0
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
1183  tt0993846                        The Wolf of Wall Street           7.9
128   tt2267998                                      Gone Girl           7.9
1191  tt2024544                               12 Years a Slave           7.9
119   tt2015381                        Guardians of the Galaxy           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1800  tt0209144                                        Memento           7.9
370   tt1375666                                      Inception           7.9
872   tt0253474                                    The Pianist           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
1188  tt1798709                                            Her           7.8
28    tt1895587                                      Spotlight           7.8
124   tt2245084                                     Big Hero 6           7.8
177   tt2582846                         The Fault in Our Stars           7.8

In [67]:
answers['24'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [68]:
# Словарь, ключи - все пары артистов из фильмов, значения - количество таких фильмов
actors_pairs = {}
for item in list(data['cast']):
    # Список актеров каждого фильма
    actors_in_film = item.split('|')
    # Перебираем все пары
    for i in range(len(actors_in_film)):
        for y in range(i+1,len(actors_in_film)):
            # Создаем ключ словаря
            key = actors_in_film[i] + ' & ' + actors_in_film[y]
            # Если пара есть в словаре, увеличиваем текущий счетчик на 1
            if key in actors_pairs:
                actors_pairs[key] += 1
            # Если пары нет, создаем ключ и присваиваем начальное значение
            else:
                actors_pairs[key] = 1

In [69]:
actors_pairs_df = pd.DataFrame.from_dict(actors_pairs, columns=['count'], orient='index')

In [70]:
actors_pairs_df[actors_pairs_df['count']==actors_pairs_df['count'].max()]

                                 count
Daniel Radcliffe & Rupert Grint      8
Daniel Radcliffe & Emma Watson       8

In [71]:
answers['25'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '3. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '3. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '25': '5. Daniel Radcliffe & Rupert Grint'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

25